# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables
.env

# Ignore build directories
dist/
build/

# Ignore temporary files
*.tmp
*.swp
*.swo
*.bak

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore IDE and editor specific files
.idea/
.vscode/
*.iml

# Ignore compiled files
*.class
*.o
*.out
*.so
*.dll
*.exe

# Ignore dependency directories for various languages
vendor/

**/__pycache__/**
**/*runs*/**
**/*videos*/**
**/*sbatch*/** 
**/.ipynb_checkpoints/**
sbatch_*.sh
*.egg-info/
*.txt
**/*log*/**
**/*test*/**

*.zip
*.json
*.mp4

out/
**/exps/**
scripts/
demo/
checkpoint/
**/feedback_output.jsonl
**/output_jsonls/**
**/config.yml
